.painting-pic-container {
    display: inline-block;
    box-sizing: content-box;
    
    margin: 15px;
    background-color: white;
    
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 5px;
}

.painting-pic-container:hover {
    position: relative;
    bottom: -5px;
    right: -5px;
    box-shadow: none;
    cursor: pointer;
}

.painting-pic {
    margin: 5px;
}
