.sticky-header {
    position: absolute;
    top: 0;

    width: 100%;
    padding-top: 50px;
    background-color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.sticky-header > * {
    display: inline;
}